CompileFlags:
  Add: [-I/home/anas/code/uni/gpu-programming/engine/include, -I/home/anas/code/uni/gpu-programming/engine/external/imgui, -I/home/anas/code/uni/gpu-programming/engine/external/glm, -I/home/anas/code/uni/gpu-programming/engine/external/glad, -I/home/anas/code/uni/gpu-programming/engine/external/stb]

