CompileFlags:
  Add: [-I/home/anas/code/uni/gpu-programming/project/include, -I/home/anas/code/uni/gpu-programming/project/external/imgui, -I/home/anas/code/uni/gpu-programming/project/external/glm, -I/home/anas/code/uni/gpu-programming/project/external/glad]

